/* .listing-form {
  background-color: rgb(255, 255, 255);
  left: 50%;
  top: 50%;
  margin-left: -400px;
  margin-top: -400px;
  position: absolute;
  width: 800px;
  height: 800px;
  z-index: 2;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#title-buttons * {
} */

.listing-form {
  display: flex;
  align-items: center;
  justify-content: center;
}
