.listing-form-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  padding: 20px;
}

#listing-form {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 18px;
}

#title-buttons {
  gap: 12px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

#experience_level-buttons {
  gap: 12px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

#position_type-buttons {
  gap: 12px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

#listing-form-labels {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
  background-color: #161616;
  padding: 8px;
  width: 100%;
  border-radius: 10px;
  transition: 0.2s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#listing-form-labels:hover {
  transition: 0.2s;
  background-color: rgb(0, 0, 0);
  box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.6) 0px 1px 3px -1px;
}

#skills-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 12px;
}

#listing-form-textbox-container {
  gap: 4px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

#listing-form-radio-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
