#navbar-container {
  background-color: #202020;
  width: 100%;
  height: 100px;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  font-size: 24px;
}

#navbar a {
  font-family: 'Quicksand', sans-serif;
  color: #f6f6f6;
  text-decoration: none;
}

#navbar-menu {
  font-family: 'Manrope', sans-serif;
  font-size: 18px;
}

#navbar-auth {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#navbar-auth button {
  font-family: 'Manrope', sans-serif;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 0px;
  transition: 0.2s;
  max-width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 60px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#navbar-auth button:hover {
  transition: 0.2s;
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 12px;
}

#nav-login {
  background-color: #202020;
  color: #f6f6f6;
  border: 2px solid #2c2c2c;
}

#nav-login:hover {
  transition: 0.2s;
  background-color: #2c2c2c;
}

#nav-register {
  border: none;
  color: #202020;
  background-color: #f6f6f6;
  border: 2px solid #f6f6f6;
}

.nav-right-arrow {
  transition: ease-in-out 0.2s;
  font-size: 0;
}

#navbar-auth button:hover .nav-right-arrow {
  transition: ease-in-out 0.2s;
  transform: translateX(8px);
  font-size: 14px;
}
