#navbar-container {
  width: 100%;
  height: 120px;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #ffffff;
}

#navbar {
}

#nav-auth {
  display: flex;
  gap: 20px;
}

#nav-auth * {
  width: 60px;
  padding: 16px;
  border-radius: 50px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#nav-login {
  border: 2px solid #a2b2ee;
}

#nav-signup {
  border: 2px solid #a2b2ee;
  background-color: #a2b2ee;
}

#nav-auth *:hover {
  background-color: #8392c5;
  border: 2px solid #8392c5;
}
