@import './reset.css';
@import './navbar.css';
@import './list_item.css';
/* 
#26292B dark
#2E3239 lighter dark
#5F7ADB purple
#A2B2EE lighter purple
#FFFFFF white
*/
body {
  background-color: #f3f3f3;
  font-family: 'Manrope', sans-serif;
  color: #000000;
  display: flex;
  justify-content: center;
}
